*{
  padding: 0;
  margin: 0;
}body{
  background: rgb(14, 14, 14) !important;
  max-width: 100%;
  overflow-x: hidden;
}:root{
  --color-rosa:rgb(255, 0, 242);
  --color-azul:rgb(0, 195, 255);
  --color-morado:rgb(126, 6, 150);
  --efecto-luz: #b2f3fc;
}/*Navbar*/.navbar{
  z-index: 20000;
}.navbar-brand{
  margin-left: 7px;
}.collapse, .navbar-collapse{
  float: right;
}/*Inicio*/#inicio{
  background: rgb(12,12,12);
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(9,1fr);
  overflow: hidden;
}.vector0{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
}.tituloNegocio{
  color: #fff;
  position: absolute;
  font-size: 23px;
}.vector1{
  position: absolute;
  bottom: 0;
  right: 0;
}.vector2{
  position: absolute;
  right: -6px;
  top: -5px;
}.vector3{
  position: absolute;
  right: -9px;
  top: -9px;
}.v3{
  width: 150px !important;
}.vector4{
  position: absolute;
  bottom: 50px;
}.vector4 .image{
  width: 180px;
}.vector5{
  position: absolute;
  bottom: 90px;
}.vector5 .image{
  width: 100px;
}.image{
  width: 200px;
}
/*Tarjetas que muestran nuestros servicios*/
.tituloTarjeta{
  color: var(--color-azul);
  margin-top: 20px;
}.book {
  margin: 5px;
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: rgb(36, 35, 35);
  box-shadow: 1px 1px 12px #000;
  transform: preserve-3d;
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e6e6e6;
}.cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 1px 1px 12px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-86deg);
}.coverOne{
  background-image: url('imagenes/andras-vas-Bd7gNnWJBkU-unsplash.jpg');
}.coverTwo{
  background-image: url('imagenes/ankush-minda-B5x5AyOV3XA-unsplash.jpg');
}.coverThree{
  background-image: url('imagenes/christian-wiediger-WkfDrhxDMC8-unsplash.jpg');
}.coverFour{
  background-image: url('imagenes/daniel-lezuch-I4DcRJ_Evd8-unsplash.jpg');
}.book p{
  font-weight: 600;
  text-align: center;
}.card{
  max-width: 100%;
  background: transparent !important;
  margin: 0 50px !important;
}.card-text{
  color: #fff;
}.card-title{
  font-size: medium;
  color: var(--color-azul);
}
/*Boton de cotización*/
.button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}.button::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}.button:hover::after {
  filter: blur(30px);
}.button:hover::before {
  transform: rotate(-180deg);
}.button:active::before {
  scale: 0.7;
}
/*Botones Footer*/
.cardFotter {
  width: 100%;
  height: fit-content;
  background-color: rgba(39, 39, 39, 0.575);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}/* for all social containers*/.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}/* instagram*/.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}/* linkdin*/.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}/* Whatsapp*/.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}.socialSvg {
  width: 17px;
}.socialSvg path {
  fill: rgb(255, 255, 255);
}.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
